/target/
/.classpath
/*.project
/.settings
/*.bash_profile
/*.springBeans

/**/target/
/**/.settings/
/**/.classpath
/**/.project
/**/*.springBeans
/**/*.bash_profile

/*.idea/
/*.iml
/**/*.iml
/.vscode/
/.metals/
/.bloop/
/.vscode/
/.metals/