---
services:
  ftp:
    image: delfer/alpine-ftp-server:latest
    container_name: ftp-server
    hostname: ftp-server #optional
    environment:
      - USERS=user1|password user2|password user3|password user4|password
    ports:
      - "2121:21"
      - "21000-21010:21000-21010"
    restart: unless-stopped